header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100vw;
  padding: 0.7rem 0rem;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
}
